/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "CubicCoreMono";
  src: url(assets/fonts/CubicCoreMono.ttf) format("opentype");
}

.crowd-title {
  font-family: "CubicCoreMono";
  font-size: 200% !important;
  padding-bottom: 6px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
