@import "../node_modules/@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-grey, 900);
$app-accent: mat-palette($mat-blue-grey, 700);
$app-warn: mat-palette($mat-deep-orange, 600);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$alt-primary: mat-color(mat-palette($mat-grey, 800));
$alt-accent: mat-color(mat-palette($mat-blue-grey, 900));

@include angular-material-theme($app-theme);
