<div class="jumbotron text-center">
  <div class="container editors">
    <h1>A Visual Tool for Involving Stakeholders into Ontology Engineering Tasks</h1>
    <p>
      Using well-known visual languages and reasoning services for simplifying ontology and modelling development.
    </p>
    <a class="btn btn-primary" href="./wicom-qdod/web-src/model_editor.php?type=UML">
      UML
    </a>
    <!--<a class='btn btn-primary' href='./wicom/web-src/model_editor.php?type=EER'> -->
    <a class="btn btn-primary" [routerLink]="'eer'">
      EER
    </a>
    <a class="btn btn-danger" href="./crowd2/gui-orm/orm_editor.html">
      ORM 2 (KF Metamodel)
    </a>
    <a class="btn btn-danger" href="./crowd2/gui-orm/orm_reasoning_editor.html">
      ORM 2 (Reasoning)
    </a>
    <a class="btn btn-danger" href="./ervt-gui/erd_editor.php">
      Temporal ER
    </a>
  </div>
</div>

<div class="container">
  <h4 style="color:green"> News </h4>

  <p> - <span style="color:green"> 5/20: </span> In-Use paper <a
      href="https://content.iospress.com/articles/applied-ontology/ao200228">Pre-press</a></p>

  <p> - <span style="color:green"> 5/20: </span> System Description published at "KI - Künstliche Intelligenz" <a
      href="https://doi.org/10.1007/s13218-020-00657-8">DOI</a></p>

  <p> - <span style="color:green"> 5/20: </span> ORM 2 Editor allows to import/export UML diagrams going through <a
      href="http://crowd.fi.uncoma.edu.ar/KFDoc/">KF metamodel </a></p>
  <p> - <span style="color:green">4/20: </span>Temporal ER editor integrated to a new TDL-Lite reasoner is now available
    (joint work with Artale, Ozaki and Tahrat from University of Bolzano)</p>
  <p> - <span style="color:green">1/20: </span> UML, EER and ORM 2 Editors are now available</p>
  <br>
  <h3>
    About&nbsp;<span class="crowd-title">crowd</span>&nbsp;<span style="color:red">This is a BETA RELEASE!</span>
  </h3>
  <h4>
    <p>
      <span><a href="https://sites.google.com/a/fi.uncoma.edu.ar/german-braun/crowd-survey">SURVEY</a></span>
    </p>
  </h4>

  <h4>
    <p>
      <span><a href="https://bitbucket.org/gilia/wicom-qdod/issues?status=new&amp;status=open">Please, BUGs here (a.k.a
          EO for Enhancement Opportunities)</a></span>
    </p>
  </h4>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h3>Wiki and Roadmap</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          The wiki is available for the development team for publishing information and miscelaneous stuff.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="./wiki">Wiki and Roadmap</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3>Tech Report Draft</h3>
      </div>

      <div class="card-body">
        <p class="card-text">
          There's a draft of the tech report that explains the design and implementation of
          <span class="crowd-title">crowd</span>
          . Useful for studying the code and adding new features.
        </p>
      </div>

      <div class="card-footer">
        <a class="card-link" href="./tech-report">Tech Report</a>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h3>Publications</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          A list of white papers publications references is available at the Wiki.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wiki/doku.php/trabajos_publicados">
          Publications
        </a>
      </div>
    </div>
  </div>
  <br>

  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h3>Screencast</h3>
      </div>

      <div class="card-body">
        <p class="card-text">
          Learn how to use <span class="crowd-title">crowd</span> features.
        </p>
      </div>

      <div class="card-footer">
        <a class="card-link" href="https://sites.google.com/a/fi.uncoma.edu.ar/german-braun/crowd">Watch</a>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h3>Contact Us</h3>
      </div>

      <div class="card-body">
        <!--		<img class='card-img-top' src='./assets/images/mattermost.png' height='50px' width='1px'> -->

        <p class="card-text">
          We use <a href="https://mattermost.com">Mattermost software</a> for communicating between us.
          Public channels are available for contacting developers.
        </p>
      </div>

      <div class="card-footer">
        <a class="card-links" href="https://mm-miredlibre.ddns.net/crowd/channels/crowd-around-the-world">
          Chat with Us
        </a>
      </div>
    </div>

  </div>


  <h1>Source Code</h1>
  <p>
    Source code is licensed as
    <img alt="GPL version 3" src="./assets/images/gplv3-88x31.png">
    and available at Bitbucket.
  </p>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/images/meditate-small.jpg">
      <div class="card-body">
        <h3 class="card-title">License</h3>
        <p class="card-text">This work is under the General Public License version 3.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.gnu.org/licenses/gpl.html">GPL License</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/programmingasphere-800px.png">
      <div class="card-body">
        <h3 class="card-title">Repositories</h3>
        <p class="card-text">
          Repositories are hosted in Bitbucket. We use
          <a href="https://git-scm.org">git</a>
          and
          <a href="http://mercurial-scm.org/">Mercurial</a>
          .
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wiki/doku.php/repositorios">
          List of repositories
        </a>
        <a class="card-link" href="https://bitbucket.org/gilia/wicom">
          crowd Repository
        </a>
        <a class="card-link" href="https://bitbucket.org/gilia">
          GILIA Bitbucket Group
        </a>
        <a class="card-link" href="https://bitbucket.org/account/user/gilia/projects/WIC">
          crowd/WICOM Project
        </a>
      </div>
    </div>
    <div class="card">
      <img alt="kid-programming using guile" class="card-img-top" src="./assets/images/kid-programming-a-robot.png">
      <div class="card-body">
        <h3 class="card-title">Resources</h3>
        <p class="card-text">
          You can learn about
          <span class="crowd-title">crowd</span>
          using our documentation or studying the code. We use
          <a href="https://www.doxygen.org">Doxygen</a>
          for compiling PHP documentation and
          <a href="https://github.com/coffeedoc/codo">codo</a>
          for
          <a href="http://coffeescript.org">CoffeeScript</a>
          .
        </p>
        <p class="card-text">
          The tech report (draft) is full of information about design and implementation.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wicom-qdod/docs/doxygen/html/">
          Doxygen generated docs
        </a>
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wicom-qdod/docs/coffee">
          Codo generated docs
        </a>
        <a class="card-link" href="./tech-report">Tech Report</a>
      </div>
    </div>
  </div>
  <h1>Authors and Collaborations</h1>
  <p>
    <span class="crowd-title">c r o w d</span>
    is the result of a combined effort of Grupo de Investigación de Lenguajes e Inteligencia Artificial (G.I.L.I.A.),
    students, graduates and teachers of the Facultad de Informática (Fa.I.) of Universidad Nacional del Comahue
    (U.N.Coma.).
  </p>
  <p>Also, teachers from Universidad Nacional del Sur (U.N.S.) at the Departamento de Ciencias e Ingeniería de la
    Computacion (D.C.I.C.) helped us in the design and development.</p>
  <div class="card-deck">
    <div class="card">
      <img alt="GILIA" class="card-img-top" src="./assets/images/gilia.png">
      <div class="card-body">
        <h4 class="card-title">G.I.L.I.A.</h4>
        <p class="card-text">
          Grupo de Investigación de Lenguajes e Inteligencia Artificial, Universidad Nacional del Comahue
        </p>
      </div>
    </div>
    <div class="card">
      <img alt="FAI" class="card-img-top" src="./assets/images/FAI.jpg">
      <div class="card-body">
        <h4 class="card-title">Fa.I.</h4>
        <p class="card-text">
          Facultad de Informática, Universidad Nacional del Comahue
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://faiweb.uncoma.edu.ar">
          Web Principal
        </a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/UNComa.jpg">
      <div class="card-body">
        <h4 class="card-title">U.N.Coma.</h4>
        <p class="card-text">
          Universidad Nacional del Comahue
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://www.uncoma.edu.ar">Web Principal</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/DCIC.png">
      <div class="card-body">
        <h4 class="card-title">D.C.I.C.</h4>
        <p class="card-text">
          Departamento de Ciencias e Ingeniería de la Computación, Universidad Nacional del Sur
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://cs.uns.edu.ar">Web Principal</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/UNS.jpg">
      <div class="card-body">
        <h4 class="card-title">U.N.S.</h4>
        <p class="card-text">
          Universidad Nacional del Sur
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://uns.edu.ar">Web Principal</a>
      </div>
    </div>
  </div>
</div>
